.item {
  display: flex;
  background-color: #FCBF49;
  margin: 16px 0;
  padding: 6px;
}

.delete {
  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.delete:hover {
  color: #D62828;
  transform: rotate(1turn);
}